// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #1976d2; // Azul
$secondary: #26a69a; // Verde
$accent: #9c27b0; // Roxo

$dark: #1d1d1d; // Preto
$dark-page: #121212; // Fundo escuro

$positive: #21ba45; // Verde positivo
$negative: #c10015; // Vermelho negativo
$info: #31ccec; // Azul informativo
$warning: #f2c037; // Amarelo de aviso
